.outer {
    z-index: 999;
    display: table;
    position: absolute;
    height: 98%;
    width: 99%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    position: relative;
    opacity: 1;
    margin-left: auto;
    margin-right: auto; 
    width: 400px;
}

@media only screen and (width:320px){
    .inner {
        position: relative;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        width: 270px; 
    }
}