.clear-float {
    width: 100%;
    clear: both;
    border-bottom: solid 1px grey;
}

.data-table-container {
    height: 200px;
    overflow-y: visible;
    overflow-x: hidden;
}

.data-table-item {
    float: left;
    margin: 10px 10px 10px 0;
}

.loading {
    position: relative;
    width: 100%;
}